footer {
    background-color: var(--mainBlue);
    text-align: center;
    width: 100%;
    height: 3rem;
  }
  .footer-container .icon {
    gap: 1em;
    height: 3em;
  }
  .icon:hover{
    border-radius: 15px yellow ;
  }
