header {
    background-color: var(--mainBlue);
    background-image: url(https://picsum.photos/id/998/5000/3338);
    background-size: cover;
    width: 100%;
    border-bottom: 3px solid rgb(32, 24, 24);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  
  header {
    display: flex;
    justify-content: space-between;
  }
  
  h1{
    background-color: rgb(223, 173, 214);
    border-radius: 23%;
  }
 