@import "tailwindcss";
/* ul li {
    text-align: right;
    color: white;
    display: inline;
    text-decoration: none;
    font-size: larger;
    justify-items: space-between;
    justify-content: space-evenly;
  }
  ul li:hover{
    background-size: 100% 100%;
  } */