:root {
  --mainBlue: rgb(20, 20, 46);
  --headerColor: aliceblue;

}

header {
  background-color: var(--mainBlue);
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYaYXsmB0L1YC0ROJlu57xWEfOSLuT8wOHVQ&s); */
  background-size: cover;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;


}

h1{
  background-color: rgb(223, 173, 214);
  border-radius: 23%;
}

h2 {
  color: aliceblue;
}
body{
  padding: 0;
  margin: 0;
}

.form {}

.form input {
  align-content: start;

}

.contact-background {
  background-color: var(--mainBlue);
}

.nav-item:active {
  border-color: rgb(63, 63, 121);
  border-radius: 15px;
}

main {
  background-color: var(--mainBlue);
}

main .porfolio-main {
  background-color: var(--mainBlue);
  display: flex;
  flex-direction: column;
  gap: 50px;
}


footer a img:hover{
}
.hover-overlay .mask{
  transition: all 0.3s ease-in;
  opacity: 0;
  background-color: hsla(195, 83%, 58%, 0.2)
}