:root {
  --mainBlue: rgb(20, 20, 46);
  --headerColor: aliceblue;
  --borderColor: rgb(32, 24, 24);
}

h2 {
  color: aliceblue;
}
body{
  padding: 0;
  margin: 0;

}

.contact-background {
  background-color: var(--mainBlue);
}

.nav-item:active {
  border-color: rgb(63, 63, 121);
  border-radius: 15px;
}

main {
  background-color: var(--mainBlue);
}

main .porfolio-main {
  background-color: var(--mainBlue);
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about-img{
  border-radius: 50%;
  height: 114px;
  width: 110px;
  /* margin: 0 auto;
  display: block; */
}
.about-div{
  height: 850px;

}
.about-text{
  color: aliceblue;
  font-size: 1.5em;
  text-align: left;
  margin-top: 2em;
}
footer {
  background-color: var(--mainBlue);
  text-align: center;
  width: 100%;
  height: 3rem;
  border-top: 3px solid var(--borderColor);
  bottom: 0;
  margin-bottom: 0px;
  overflow: hidden;
}
.footer-container .icon {
  gap: 1em;
  height: 3em;
  background-color: var(--mainBlue);
  overflow: hidden;
}
.icon:hover{
  background-color: rgba(182, 235, 97, 0.842);
}

.about-img{
  border-radius: 50%;
  height: 114px;
  width: 110px;
  /* margin: 0 auto;
  display: block; */
}
.about-div{
  height: 850px;

}
.about-text{
  color: aliceblue;
  font-size: 1.5em;
  text-align: left;
  margin-top: 2em;
}
.portfolio-main {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.portfolio-item{
  height : 500px;
  width: 500px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  transition: all 0.5s;
  
}
.portfolio-item:hover{
  background-color: rgba(224, 245, 219, 0.842);
}
section img {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
#email{
  margin: 10px 0px 10px 0px;
}
.main-resume {
height: 100vh;
width: 100vw;
display: flex;
}
.resume-text {
  color: aliceblue;
  font-size: 1.5em;
  text-align: left;
  margin-top: 2em;
  display: block;
  margin-top: 5em;
}
.resume-section {
  display: flex;
}
.resume-ul{
  display: flex;
  flex-direction: row;
  gap: 1em;
  text-decoration: none;
  justify-content: space-around;
}

.header-nav{
  display: flex;
  flex-direction: row;
  gap: 1em;
  text-decoration: none;
  color: aliceblue;
  justify-content: space-around;
}
.contact-background{
  height: 100vh;
  width: 100vw;
  display: flex;
}
.contact-input{
  display: block;
  padding: 10px;
  width: 200%;
  margin-top: 1em;
}
#textarea{
  display: block;
  padding: 10px;
  width: 200%;
  height: 250px;
}
form{
  display: block;
  margin-top: 5em;
}
button {
  display: block;
  margin-top: 1em;
}