:root {
  --mainBlue: rgb(20, 20, 46);
  --headerColor: aliceblue;
  --borderColor: rgb(32, 24, 24);
  --mainMatteBlack: rgb(40, 40, 43);
  --heroDarkPurple: #3e2b3c;
  --slateGrey: #708090;
  --niceTeal: #5F9EA0;
  --warmBeige: #A89C94;
}

h2 {
  color: aliceblue;
}
body{
  padding: 0;
  margin: 0;

}

.nav-item:active {
  border-color: rgb(63, 63, 121);
  border-radius: 15px;
}

main {
  background-color: var(--borderColor);
  /* background-image: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
  /* background-image: url(https://images.unsplash.com/photo-1473163928189-364b2c4e1135?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
  overflow: hidden;
  background-size: fit;
}
.about-img{
  border-radius: 50%;
  height: 114px;
  width: 110px;
  margin-bottom: 1em;
  /* margin: 0 auto; */
}
.about-div{
  /* height: 850px; */
  height: 85em;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  justify-content: center;
  text-align: justify;
  margin: auto 0;

}
.about-text{
  /* color: white; */
  font-size: 1em;
  text-align: justify;
}
.about-section{
  padding-bottom: 2em;
}
#about-section-one{
  /* border-right: solid beige; */
  border: solid #5a8486;
  border-radius: 25px;
  width: 38em;
  background-color: #ffd25f;
  color: black;
  padding: 15px;
}
#about-section-two{
  padding-left: 1em;
  border-radius: 25px;
  background-color: #5a8486;
  width: 27em;
  margin-left: 6em;
  padding: 15px;
  border: solid #ffd25f;
  color: black;
}
.show{
  font-weight: bolder;
}
/* footer {
  background-image: linear-gradient(147deg, #4B4E53 0%, #000000 74%);
  text-align: center;
  width: 100%;
  height: 3rem;
  border-top: 3px solid var(--borderColor);
  bottom: 0;
  margin-bottom: 0px;
  overflow: hidden;
} */
.footer-container .icon {
  gap: 1em;
  height: 3em;
  overflow: hidden;
}
.icon:hover{
  background-color: rgba(182, 235, 97, 0.842);
}

.portfolio-main {

  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  background-size: contain;
}
.portfolio-item{
  position: relative;
  height : 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.portfolio-item img {
  width: 100%;
  height: 26em;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Make sure text is visible */
  font-size: 1rem;
  opacity: 1; /* Ensure the text is always visible */
  transition: opacity 0.3s ease-in-out;
}

.overlay h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 1em;
  padding-top: 23em;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}

/* Optional hover effect */
.portfolio-item:hover img {
  filter: brightness(70%);
}

section img:hover{
  background-color: rgba(224, 245, 219, 0.842);
}
/* #item-five{
  width: 65px;
} */
section img {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
#email{
  margin: 10px 0px 10px 0px;
}
.main-resume {
height: 500vh;
width: 100vw;
display: flex;
}
.resume-text {
  color: aliceblue;
  font-size: 1.5em;
  text-align: left;
  margin-top: 2em;
  display: block;
  margin-top: 5em;
}
.resume-section {
  display: flex;
}
.resume-ul{
  display: flex;
  flex-direction: row;
  gap: 1em;
  text-decoration: none;
  justify-content: space-evenly;
  background-color: #fc9581;
  
}
.header-nav{
  display: flex;
  flex-direction: row;
  gap: 1em;
  text-decoration: none;
  color: aliceblue;
  justify-content: space-around;
}
.contact-background{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.contact-input{
  display: block;
  padding: 10px;
  width: 200%;
  margin-top: 1em;
}
#contact-h2{
  padding-top: 2em;

}
.email-me-h2{
  font-weight: bold;
  padding-top: 2em;
}
#textarea{
  display: block;
  padding: 10px;
  width: 200%;
  height: 250px;
  background-color: beige;

}
input{
  background-color: beige;
}
form{
  display: block;
  margin-top: 5em;
}
button {
  /* display: block; */
  margin-top: 1em;
}




ul li {
  text-align: right;
  color: black;
  display: inline;
  text-decoration: none;
  font-size: larger;
  justify-items: space-between;
  justify-content: space-evenly;
}
ul li:hover{
  background-size: 100% 100%;
}

/* header {
  background-image: linear-gradient(147deg, #4B4E53 0%, #000000 74%);
    width: 100%;
    border-bottom: 3px solid rgb(32, 24, 24);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  } */
  
  h1{
    border-radius: 23%;
    color: white;
    margin-left: 1em;
  }
  .nav-img{
    border-radius: 50%;
    /* height: 96px;
    width: 94px; */
    height: 4.5em;
    width: 5em;
    border: solid #f0eade;
    border-radius: 25px;
  }
  /* Ensure the nav items are also displayed in a row */
.header-nav {
  display: flex;
  margin-right: 25em;
  justify-content: center;
  flex-grow: 1;
  gap: 20px;
}
.nav-item {
  /* margin-right: 20px; Adds space between nav items */
  list-style: none;
}

.nav-link {
  text-decoration: none; /* Removes underline from links */
  color: white; /* Change this to your desired color */
}

.nav-link.active {
  font-weight: bold; /* Highlight the active link */
}
nav {
  width: 100%;
  /* overflow: hidden; */
}